In [ ]:
import pandas as pd
import numpy as np
df = pd.read_json("/content/Sarcasm_Headlines_Dataset.json", lines = True)
df.head()

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [ ]:
# NLP, Application of NLP,

In [ ]:
# Data Preprocessing, TOkenization, Stemming, N-Grams, count vectorizer, tfIdf etc.

In [ ]:
df['is_sarcastic'].unique()

array([0, 1])

In [ ]:
df.shape

(26709, 3)

In [ ]:
df.head()

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [ ]:
# texts = []
# labels = []
# urls = []
# for i in df:
#   texts.append(i['headline'])
#   labels.append(i['is_sarcastic'])
#   texts.append(i['article_link'])

In [ ]:
df['Len_Headline']= df['headline'].apply(lambda x: len(x))

In [ ]:
df.head()

,article_link,headline,is_sarcastic,Len_Headline
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0,78
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0,84
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1,79
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1,84
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0,64

In [ ]:
df[['is_sarcastic', 'headline']].groupby('is_sarcastic').count().style.background_gradient(cmap = 'autumn')

In [ ]:
df['text'] = df['headline'].apply(lambda x: x.lower())

In [ ]:
df.head()

,article_link,headline,is_sarcastic,Len_Headline,text
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0,78,former versace store clerk sues over secret 'b...
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0,84,the 'roseanne' revival catches up to our thorn...
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1,79,mom starting to fear son's web series closest ...
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1,84,"boehner just wants wife to listen, not come up..."
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0,64,j.k. rowling wishes snape happy birthday in th...

In [ ]:
df['text'] = df['text'].str.replace('[^\w\s]', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
df['text'] = df['text'].str.replace('\d', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
'Ankit'

In [ ]:
df.head()

,article_link,headline,is_sarcastic,Len_Headline,text
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0,78,former versace store clerk sues over secret bl...
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0,84,the roseanne revival catches up to our thorny ...
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1,79,mom starting to fear sons web series closest t...
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1,84,boehner just wants wife to listen not come up ...
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0,64,jk rowling wishes snape happy birthday in the ...

In [ ]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
sw = stopwords.words('english')

In [ ]:
df['text_stop'] = df['text'].apply(lambda x: ' '.join(i for i in x.split() if i not in sw))

In [ ]:
df['text_stop']

0        former versace store clerk sues secret black c...
1        roseanne revival catches thorny political mood...
2        mom starting fear sons web series closest thin...
3        boehner wants wife listen come alternative deb...
4        jk rowling wishes snape happy birthday magical...
                               ...
26704                     american politics moral freefall
26705                                  americas best hikes
26706                                    reparations obama
26707    israeli ban targeting boycott supporters raise...
26708                                 gourmet gifts foodie
Name: text_stop, Length: 26709, dtype: object

In [ ]:
df['text'].apply(lambda x: (word(word).lemmatize() for i in x.split()))

In [ ]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

In [ ]:
sentence = df['text'][0]
import nltk
nltk.download('punkt')
import nltk
nltk.download('wordnet')
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
sentence_words = nltk.word_tokenize(sentence)

In [ ]:
punctuations = '?:!.,;'
for word in sentence_words:
  if word in punctuations:
    sentence_words.remove(word)

for word in sentence_words:
  print(word, '---->',  wordnet_lemmatizer.lemmatize(word))

former ----> former
versace ----> versace
store ----> store
clerk ----> clerk
sues ----> sue
over ----> over
secret ----> secret
black ----> black
code ----> code
for ----> for
minority ----> minority
shoppers ----> shopper

In [ ]:
#Lemmatization usually refers to doing things properly with the use of a vocabulary and morphological analysis of words, 
#normally aiming to remove inflectional endings only and to return the base or dictionary form of a word, which is known as the lemma .

In [ ]:
# Indian # one people
# Indians # too many
# Delhi's
# Delhi