In [ ]:
import pandas as pd
import numpy as np
df = pd.read_json("/content/Sarcasm_Headlines_Dataset.json", lines = True)
df.head()

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [ ]:
# NLP, Application of NLP,

In [ ]:
# Data Preprocessing, TOkenization, Stemming, N-Grams, count vectorizer, tfIdf etc.

In [ ]:
df['is_sarcastic'].unique()

array([0, 1])

In [ ]:
df.shape

(26709, 3)

In [ ]:
df.head()

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [ ]:
# texts = []
# labels = []
# urls = []
# for i in df:
#   texts.append(i['headline'])
#   labels.append(i['is_sarcastic'])
#   texts.append(i['article_link'])

In [ ]:
df['Len_Headline']= df['headline'].apply(lambda x: len(x))

In [ ]:
df.head()

,article_link,headline,is_sarcastic,Len_Headline
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0,78
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0,84
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1,79
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1,84
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0,64

In [ ]:
df[['is_sarcastic', 'headline']].groupby('is_sarcastic').count().style.background_gradient(cmap = 'autumn')

In [ ]:
df['text'] = df['headline'].apply(lambda x: x.lower())

In [ ]:
df.head()

,article_link,headline,is_sarcastic,Len_Headline,text
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0,78,former versace store clerk sues over secret 'b...
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0,84,the 'roseanne' revival catches up to our thorn...
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1,79,mom starting to fear son's web series closest ...
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1,84,"boehner just wants wife to listen, not come up..."
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0,64,j.k. rowling wishes snape happy birthday in th...

In [ ]:
df['text'][1].replace("'", '')

'the roseanne revival catches up to our thorny political mood, for better and worse'

In [ ]:
df['text'].str.replace('[^\w\s]', '')

0        former versace store clerk sues over secret 'b...
1        the 'roseanne' revival catches up to our thorn...
2        mom starting to fear son's web series closest ...
3        boehner just wants wife to listen, not come up...
4        j.k. rowling wishes snape happy birthday in th...
                               ...
26704                 american politics in moral free-fall
26705                              america's best 20 hikes
26706                                reparations and obama
26707    israeli ban targeting boycott supporters raise...
26708                    gourmet gifts for the foodie 2014
Name: text, Length: 26709, dtype: object

In [ ]:
df['text'] = df['text'].str.replace('[a-z]', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
df['text'] = df['text'].str.replace('\d', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
'Ankit'

'Ankit'

In [ ]:
df.head()

,article_link,headline,is_sarcastic,Len_Headline,text
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0,78,former versace store clerk sues over secret bl...
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0,84,the roseanne revival catches up to our thorny ...
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1,79,mom starting to fear sons web series closest t...
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1,84,boehner just wants wife to listen not come up ...
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0,64,jk rowling wishes snape happy birthday in the ...

In [ ]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
sw = stopwords.words('english')

In [ ]:
df['text_stop'] = df['text'].apply(lambda x: ' '.join(i for i in x.split() if i not in sw))

In [ ]:
df['text_stop']

0        former versace store clerk sues secret black c...
1        roseanne revival catches thorny political mood...
2        mom starting fear sons web series closest thin...
3        boehner wants wife listen come alternative deb...
4        jk rowling wishes snape happy birthday magical...
                               ...
26704                     american politics moral freefall
26705                                  americas best hikes
26706                                    reparations obama
26707    israeli ban targeting boycott supporters raise...
26708                                 gourmet gifts foodie
Name: text_stop, Length: 26709, dtype: object

In [ ]:
df['text'].apply(lambda x: (word(word).lemmatize() for i in x.split()))

0        <generator object <lambda>.<locals>.<genexpr> ...
1        <generator object <lambda>.<locals>.<genexpr> ...
2        <generator object <lambda>.<locals>.<genexpr> ...
3        <generator object <lambda>.<locals>.<genexpr> ...
4        <generator object <lambda>.<locals>.<genexpr> ...
                               ...
26704    <generator object <lambda>.<locals>.<genexpr> ...
26705    <generator object <lambda>.<locals>.<genexpr> ...
26706    <generator object <lambda>.<locals>.<genexpr> ...
26707    <generator object <lambda>.<locals>.<genexpr> ...
26708    <generator object <lambda>.<locals>.<genexpr> ...
Name: text, Length: 26709, dtype: object

In [ ]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

In [ ]:
sentence = df['text'][0]
import nltk
nltk.download('punkt')
import nltk
nltk.download('wordnet')
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
sentence_words = nltk.word_tokenize(sentence)

In [ ]:
punctuations = '?:!.,;'
for word in sentence_words:
  if word in punctuations:
    sentence_words.remove(word)

for word in sentence_words:
  print(word, '---->',  wordnet_lemmatizer.lemmatize(word))

former ----> former
versace ----> versace
store ----> store
clerk ----> clerk
sues ----> sue
over ----> over
secret ----> secret
black ----> black
code ----> code
for ----> for
minority ----> minority
shoppers ----> shopper

In [ ]:
#Lemmatization usually refers to doing things properly with the use of a vocabulary and morphological analysis of words, 
#normally aiming to remove inflectional endings only and to return the base or dictionary form of a word, which is known as the lemma .

In [ ]:
# Indian # one people
# Indians # too many
# Delhi's
# Delhi

In [ ]:
df['text_stop'] = df['text'].apply(lambda x: ' '.join(i for i in x.split() if i not in sw))

In [ ]:
df['text'][0].split()

['former',
 'versace',
 'store',
 'clerk',
 'sues',
 'over',
 'secret',
 'black',
 'code',
 'for',
 'minority',
 'shoppers']

In [ ]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
df.head()

,article_link,headline,is_sarcastic,Len_Headline,text,text_stop,num_words
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0,78,former versace store clerk sues over secret bl...,former versace store clerk sues secret black c...,12
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0,84,the roseanne revival catches up to our thorny ...,roseanne revival catches thorny political mood...,14
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1,79,mom starting to fear sons web series closest t...,mom starting fear sons web series closest thin...,14
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1,84,boehner just wants wife to listen not come up ...,boehner wants wife listen come alternative deb...,13
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0,64,jk rowling wishes snape happy birthday in the ...,jk rowling wishes snape happy birthday magical...,11

In [ ]:
df['num_words'] = df['headline'].apply(lambda x: len(str(x).split()))

In [ ]:
text = df[df['num_words'] == 39]['headline'].values

In [ ]:
text

array(['elmore leonard, modern prose master, noted for his terse prose style and for writing about things perfectly and succinctly with a remarkable economy of words, unfortunately and sadly expired this gloomy tuesday at the age of 87 years old'],
      dtype=object)

In [ ]:
# Word Tokenize
import spacy
nlp = spacy.load('en_core_web_sm') # contains all the english vocabulary

In [ ]:
[i for i in text[0]]

['e',
 'l',
 'm',
 'o',
 'r',
 'e',
 ' ',
 'l',
 'e',
 'o',
 'n',
 'a',
 'r',
 'd',
 ',',
 ' ',
 'm',
 'o',
 'd',
 'e',
 'r',
 'n',
 ' ',
 'p',
 'r',
 'o',
 's',
 'e',
 ' ',
 'm',
 'a',
 's',
 't',
 'e',
 'r',
 ',',
 ' ',
 'n',
 'o',
 't',
 'e',
 'd',
 ' ',
 'f',
 'o',
 'r',
 ' ',
 'h',
 'i',
 's',
 ' ',
 't',
 'e',
 'r',
 's',
 'e',
 ' ',
 'p',
 'r',
 'o',
 's',
 'e',
 ' ',
 's',
 't',
 'y',
 'l',
 'e',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'f',
 'o',
 'r',
 ' ',
 'w',
 'r',
 'i',
 't',
 'i',
 'n',
 'g',
 ' ',
 'a',
 'b',
 'o',
 'u',
 't',
 ' ',
 't',
 'h',
 'i',
 'n',
 'g',
 's',
 ' ',
 'p',
 'e',
 'r',
 'f',
 'e',
 'c',
 't',
 'l',
 'y',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 's',
 'u',
 'c',
 'c',
 'i',
 'n',
 'c',
 't',
 'l',
 'y',
 ' ',
 'w',
 'i',
 't',
 'h',
 ' ',
 'a',
 ' ',
 'r',
 'e',
 'm',
 'a',
 'r',
 'k',
 'a',
 'b',
 'l',
 'e',
 ' ',
 'e',
 'c',
 'o',
 'n',
 'o',
 'm',
 'y',
 ' ',
 'o',
 'f',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ',',
 ' ',
 'u',
 'n',
 'f',
 'o',
 'r',
 't',
 'u',
 'n',
 'a',
 't',
 'e',
 'l',
 'y',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 's',
 'a',
 'd',
 'l',
 'y',
 ' ',
 'e',
 'x',
 'p',
 'i',
 'r',
 'e',
 'd',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'g',
 'l',
 'o',
 'o',
 'm',
 'y',
 ' ',
 't',
 'u',
 'e',
 's',
 'd',
 'a',
 'y',
 ' ',
 'a',
 't',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'a',
 'g',
 'e',
 ' ',
 'o',
 'f',
 ' ',
 '8',
 '7',
 ' ',
 'y',
 'e',
 'a',
 'r',
 's',
 ' ',
 'o',
 'l',
 'd']

In [ ]:
doc = nlp(text[0])

In [ ]:
text[0]

'elmore leonard, modern prose master, noted for his terse prose style and for writing about things perfectly and succinctly with a remarkable economy of words, unfortunately and sadly expired this gloomy tuesday at the age of 87 years old'

In [ ]:
token = [i.text for i in doc]
token

['elmore',
 'leonard',
 ',',
 'modern',
 'prose',
 'master',
 ',',
 'noted',
 'for',
 'his',
 'terse',
 'prose',
 'style',
 'and',
 'for',
 'writing',
 'about',
 'things',
 'perfectly',
 'and',
 'succinctly',
 'with',
 'a',
 'remarkable',
 'economy',
 'of',
 'words',
 ',',
 'unfortunately',
 'and',
 'sadly',
 'expired',
 'this',
 'gloomy',
 'tuesday',
 'at',
 'the',
 'age',
 'of',
 '87',
 'years',
 'old']

In [ ]:
print(spacy.lang.punctuation.LIST_QUOTES)
print(spacy.lang.punctuation.LIST_PUNCT)

punc = [i.text for i in doc if i.is_punct]

["\\'", '"', '', '', '`', '', '', '', '', ',', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
['', '', ',', ':', ';', '\\!', '\\?', '', '', '', '\\(', '\\)', '\\[', '\\]', '\\{', '\\}', '<', '>', '_', '#', '\\*', '&', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [ ]:
set(punc)

{','}

In [ ]:
stopwords = list(spacy.lang.en.stop_words.STOP_WORDS)

In [ ]:
stop = [i.text for i in doc if i.is_stop]
print(stop)

['for', 'his', 'and', 'for', 'about', 'and', 'with', 'a', 'of', 'and', 'this', 'at', 'the', 'of']

In [ ]:
digit = [i.text for i in doc if i.is_digit]
print(digit)

['87']

In [ ]:
lemma = [i.lemma_ for i in doc]
print(lemma)

['elmore', 'leonard', ',', 'modern', 'prose', 'master', ',', 'note', 'for', 'his', 'terse', 'prose', 'style', 'and', 'for', 'write', 'about', 'thing', 'perfectly', 'and', 'succinctly', 'with', 'a', 'remarkable', 'economy', 'of', 'word', ',', 'unfortunately', 'and', 'sadly', 'expire', 'this', 'gloomy', 'tuesday', 'at', 'the', 'age', 'of', '87', 'year', 'old']

In [ ]:
# Named Entity Recognition ( NER )
spacy.displacy.render(doc, style = 'ent', jupyter = True)

In [ ]:
df_new = pd.DataFrame({
    'token': [i.text for i in doc],
    'lemma': [i.lemma_ for i in doc],
    'is_stopword': [i.is_stop for i in doc],
    'is_digit': [i.is_digit for i in doc],
    'POS': [i.pos_ for i in doc],
    'is_punctuation': [i.is_punct for i in doc],
    'TAG': [i.tag_ for i in doc]
})

df_new.head()

     token    lemma  is_stopword  is_digit    POS  is_punctuation  TAG
0   elmore   elmore        False     False  PROPN           False  NNP
1  leonard  leonard        False     False  PROPN           False  NNP
2        ,        ,        False     False  PUNCT            True    ,
3   modern   modern        False     False    ADJ           False   JJ
4    prose    prose        False     False   NOUN           False   NN

In [ ]:
def clean_text(df):
  nlp = spacy.load('en_core_web_sm')
  for i in range(df.shape[0]):
    doc = nlp(df['headline'][i])
    text = [i.lemma_.lower().strip() for i in doc if not (i.is_stop | i.is_punct | i.is_digit)]
    text = ' '.join(text)
    if i< 5: print('Sentences', i, text)
    df['headline'][i] = text
  return df

In [ ]:
new_df = clean_text(df)

Sentences 0 versace store clerk sue secret black code minority shopper
Sentences 1 roseanne revival catch thorny political mood bad
Sentences 2 mom start fear son web series close thing grandchild
Sentences 3 boehner want wife listen come alternative debt reduction idea
Sentences 4 j.k rowle wish snape happy birthday magical way

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Tfidf (vectorizer) # it transform the data into numbers (which require for NLP model)
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer()
X = tf.fit_transform(new_df['headline'])

In [ ]:
X

<26709x19297 sparse matrix of type '<class 'numpy.float64'>'
	with 171892 stored elements in Compressed Sparse Row format>

In [ ]:
y = new_df['is_sarcastic']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [ ]:
from sklearn.naive_bayes import BernoulliNB
nb = BernoulliNB()
nb.fit(X_train, y_train)

BernoulliNB()

In [ ]:
import pandas as pd
import numpy as np
import csv
df = pd.read_csv('/content/IMDB Dataset.csv', header = None, delimiter="\t", quoting=csv.QUOTE_NONE, encoding='utf-8')
df.head()

In [ ]:
df[''][0]

In [ ]:
df.columns

In [ ]:
# Make a Colab file from the dataset ( ADULT.CSV) dataset. and APply Naive Bayes Model: Perform Preporcessing tasks