Sub-Topics

1. Conditional Probability
2. Bayes Theorem Fundamentals
3. Maths behind Naive Bayes Theorem
4. Assumptions of Bayes Theorem

In [36]:
import pandas as pd
import numpy as np
df = pd.read_json(r"D:\Data Science\MACHINE LEARNING\Sarcasm_Headlines_Dataset.json", lines = True)
df.head()

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [3]:
# NLP, Application of NLP,

In [4]:
# Data Preprocessing, TOkenization, Stemming, N-Grams, count vectorizer, tfIdf etc.

In [2]:
df['is_sarcastic'].unique()

array([0, 1], dtype=int64)

In [3]:
df.shape

(26709, 3)

In [4]:
df.head()

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [8]:
# texts = []
# labels = []
# urls = []
# for i in df:
#   texts.append(i['headline'])
#   labels.append(i['is_sarcastic'])
#   texts.append(i['article_link'])

In [37]:
df['Len_Headline']= df['headline'].apply(lambda x: len(x))

In [38]:
df.head()

,article_link,headline,is_sarcastic,Len_Headline
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0,78
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0,84
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1,79
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1,84
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0,64

In [39]:
df[['is_sarcastic', 'headline']].groupby('is_sarcastic').count().style.background_gradient(cmap='autumn')

In [40]:
df['text'] = df['headline'].apply(lambda x: x.lower())

In [41]:
df.head()

,article_link,headline,is_sarcastic,Len_Headline,text
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0,78,former versace store clerk sues over secret 'b...
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0,84,the 'roseanne' revival catches up to our thorn...
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1,79,mom starting to fear son's web series closest ...
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1,84,"boehner just wants wife to listen, not come up..."
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0,64,j.k. rowling wishes snape happy birthday in th...

In [42]:
df['text'][1].replace("'", '')

'the roseanne revival catches up to our thorny political mood, for better and worse'

In [16]:
df['text'].str.replace('[^\w\s]', '')

C:\Users\91897\AppData\Local\Temp\ipykernel_816\1733514326.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace('[^\w\s]', '')

0        former versace store clerk sues over secret bl...
1        the roseanne revival catches up to our thorny ...
2        mom starting to fear sons web series closest t...
3        boehner just wants wife to listen not come up ...
4        jk rowling wishes snape happy birthday in the ...
                               ...
26704                  american politics in moral freefall
26705                               americas best 20 hikes
26706                                reparations and obama
26707    israeli ban targeting boycott supporters raise...
26708                    gourmet gifts for the foodie 2014
Name: text, Length: 26709, dtype: object

In [44]:
df['text'] = df['text'].str.replace('[a-z]', '')

C:\Users\91897\AppData\Local\Temp\ipykernel_9068\3907384811.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('[a-z]', '')

In [45]:
df['text'] = df['text'].str.replace('\d', '')

C:\Users\91897\AppData\Local\Temp\ipykernel_9068\1379482121.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('\d', '')

In [46]:
df.head()

,article_link,headline,is_sarcastic,Len_Headline,text
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0,78,' '
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0,84,"'' ,"
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1,79,'
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1,84,", -"
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0,64,..

In [20]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\91897\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [21]:
sw = stopwords.words('english')

In [22]:
df['text_stop'] = df['text'].apply(lambda x: ' '.join(i for i in x.split() if i not in sw))

In [23]:
df['text_stop']

0         ' '
1        '' ,
2           '
3         , -
4          ..
         ...
26704       -
26705       '
26706
26707
26708
Name: text_stop, Length: 26709, dtype: object

In [24]:
df['text'].apply(lambda x: (word(word).lemmatize() for i in x.split()))

0        <generator object <lambda>.<locals>.<genexpr> ...
1        <generator object <lambda>.<locals>.<genexpr> ...
2        <generator object <lambda>.<locals>.<genexpr> ...
3        <generator object <lambda>.<locals>.<genexpr> ...
4        <generator object <lambda>.<locals>.<genexpr> ...
                               ...
26704    <generator object <lambda>.<locals>.<genexpr> ...
26705    <generator object <lambda>.<locals>.<genexpr> ...
26706    <generator object <lambda>.<locals>.<genexpr> ...
26707    <generator object <lambda>.<locals>.<genexpr> ...
26708    <generator object <lambda>.<locals>.<genexpr> ...
Name: text, Length: 26709, dtype: object

In [25]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

In [ ]:
sentence = df['text'][0]
import nltk
nltk.download('punkt')
import nltk
nltk.download('wordnet')
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\91897\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\91897\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\91897\AppData\Roaming\nltk_data...

In [ ]:
sentence_words = nltk.word_tokenize(sentence)

In [ ]:
punctuations = '?:!.,;'
for word in sentence_words:
  if word in punctuations:
    sentence_words.remove(word)

for word in sentence_words:
  print(word, '---->',  wordnet_lemmatizer.lemmatize(word))